name: CI Pull Request

on:
    pull_request:
        types:
            - reopened
            - synchronize
            - opened
            - ready_for_review
        branches-ignore:
            - main
        paths-ignore:
            - "**.md"
            - ".idea/**"
            - ".editorconfig"
            - ".gitattributes"
            - ".gitignore"
            - "oas/**"

permissions:
    contents: read

concurrency:
    group: ci-pr-${{ github.workflow }}-${{ github.event.ref }}-${{ github.event.pull_request.id }}"
    cancel-in-progress: true

jobs:
    validate:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            -   name: Validate PR title
                uses: ./.github/actions/pr-title-validation

            -   name: Validate commit messages
                uses: ./.github/actions/commit-messages-validation

    build:
        needs:
            - validate
        uses: ./.github/workflows/run-build.yml
